extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
  if(role.permissions.includes('products_create'))
    +alert-error(3000)

    h1.mb-4 Create Product

    form(
      action=`${prefixAdmin}/products/create` 
      method="POST" 
      id="form-create-product"
      enctype="multipart/form-data"
    )
      .form-group
        label(for="title") Title
        input#title.form-control(type="text" name="title" required)

      .form-group
        label(for="product_category_id") Category
        select#product_category_id.form-control(name="product_category_id") 
          option(value="") --Select Category--
          if(category)
            +select-tree(category)

      .form-group
        label(for="desc") Description
        textarea#desc.form-control.textarea-mce(name="description" rows="5")

      .form-group
        label(for="price") Price
        input#price.form-control(type="number" name="price" value="0" min="0")

      .form-group
        label(for="discount") Discount (%)
        input#discount.form-control(type="number" name="discountPercentage" value="0" min="0")

      .form-group
        label(for="stock") Stock
        input#stock.form-control(type="number" name="stock" value="0" min="0")      

      .form-group(upload-image)
        label(for="thumbnail") Thumbnail
        input#thumbnail.form-control-file(type="file" name="thumbnail" accept="image/*" upload-image-input)
        img.image-preview(src="" upload-image-preview)

      .form-group
        label(for="position") Position
        input#position.form-control(type="number" name="position" min="1" placeholder="Auto incremented")

      .form-group.form-check.form-check-inline
        input#statusActive.form-check-input(type="radio" name="status" value="active" checked)
        label.form-check-label(for="statusActive") Active

      .form-group.form-check.form-check-inline
        input#statusActive.form-check-input(type="radio" name="status" value="inactive")
        label.form-check-label(for="statusInActive") InActive

      .form-group
        button.btn.btn-primary(type="submit") Submit

    script(src="/admin/js/product.js") 