extends ../../layouts/default.pug

block main
  h1 Page Products

  table.table.table-hover.table-sm 
    thead.thead-dark
      tr
        th(scope="col") #
        th(scope="col") Name
        th(scope="col") Price
        th(scope="col") Image
        th(scope="col") Status
        th(scope="col") Actions
    tbody
      tr
        th(scope="row") 1
        td Product A
        td $10.00
        td 
          img(src="https://cdn.dummyjson.com/product-images/beauty/eyeshadow-palette-with-mirror/1.webp", alt="Product A" width="100" height="100")
        td 
          a.badge.badge-success Active
        td 
          button.btn.btn-sm.btn-primary Edit
          button.btn.btn-sm.btn-danger Delete
      tr
        th(scope="row") 2
        td Product B
        td $20.00
        td 
          img(src="https://cdn.dummyjson.com/product-images/beauty/eyeshadow-palette-with-mirror/1.webp", alt="Product B" width="auto" height="100")
        td 
          a.badge.badge-danger Inactive
        td 
          button.btn.btn-sm.btn-primary Edit
          button.btn.btn-sm.btn-danger Delete