*{
  background-color: rgb(61, 61, 61);
  color: white;
}

header{
  background-color: black;
  width: 100%;
}
header img{
  width: 180px;
  height: 42px;
}

.header-left{
    background-color: blue;
}
.header-center{
    background-color: orange;
}
.header-right{
    background-color: green;
    display: flex;
}
.header-right div{
    /* display: none; */
}