include ../mixins/alert.pug

doctype html
html 
  head 
    title #{pageTitle} 

    // Bootstrap 4 CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
  
  body     
    +alert-success(2000)

    include ../partials/header.pug

    block main

    include ../partials/footer.pug

    // jQuery, Popper.js, and Bootstrap 4 JS
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="/js/script.js") 